@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap'); /* Nerko One*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Nerko+One&display=swap'); /*Acme Lobster Nerko One*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); /*Fredoka One*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap'); /*Courgette*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');/*Comfortaa*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Righteous&display=swap');/*Concert One*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');/*Righteous*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Monda:wght@700&family=Righteous&display=swap');/*Monda*/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');/*Maven Pro*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap'); /*Nunito*/
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');/*Paytone One*/
/*Nunito Maven Pro Righteous Monda Concert One Courgette Fredoka One Lobster Nerko One Paytone One Poppins Playwrite HU*/

/* Media query for big screens */
@media (min-width: 781px) {
  body {
    margin: 0;
    background-color: lightyellow;
    font-family: 'Trebuchet MS';
  }

  .mainArea {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: green;
    margin-bottom: 10px;
  }
  .mainMapNav {
    width: 80%;
    background-color: blue;
    overflow-y: auto;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column; /* Stack children vertically */
  }
  .navContainerDiv {
      flex: 0 0 5%; /* Fixed height: 15% of the parent */
      background-color:  #00203FFF;
      color: #ADEFD1FF;
      display: flex;
      flex-direction: row;
      align-items: center; 
      border-bottom: 4px solid #ff8000;
      z-index: 1; /* Ensure it appears above other elements */
  }
  .navTitleButton, .navAboutButton, .navDonationButton{
    padding-left: 25px;
    padding-right: 25px;
    height: 100%;
    display: flex; /* Enable flexbox for button content */
    align-items: center; /* Vertically center content inside buttons */
    justify-content: center; /* Optional: Center content horizontally */
    min-width: 150px;
  }
  .navTitleButton:hover, .navAboutButton:hover, .navDonationButton:hover{
    cursor: pointer;
    background-color:  #ADEFD1FF;
    color: #00203FFF;
  }
  .navTitleButton {
    font-family: "Paytone One";
    font-size: 25px;
  }
  .navAboutButton, .navDonationButton{
    font-size: 19px;
  }
  .mapContainerDiv {
      flex: 0 0 95%; /* Fixed height: 85% of the parent */
      background-color: white;
      position: relative; /* Positioning for map container */
      overflow: hidden; /* Prevents map overflow */
  }
  #map {
      width: 100%; /* Full width of the container */
      height: 100%; /* Full height of the container */
      position: absolute; /* Prevents map from resizing flex container */

  }
  .mainMapNav::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }

  
  .mainNews {
    width: 20%;
    background-color: #e0e0e0;
    overflow-y: auto; /* Enables vertical scrolling */
    height: 100vh; /* Ensures it spans the full viewport height */
  }
}

/* Media query for small screens */
@media (max-width: 780px) {
 
}