@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap'); /* Nerko One*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Nerko+One&display=swap'); /*Acme Lobster Nerko One*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); /*Fredoka One*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap'); /*Courgette*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');/*Comfortaa*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Righteous&display=swap');/*Concert One*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');/*Righteous*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Monda:wght@700&family=Righteous&display=swap');/*Monda*/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');/*Maven Pro*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap'); /*Nunito*/
/*Nunito Maven Pro Righteous Monda Concert One Courgette Fredoka One Lobster Nerko One Poppins Playwrite HU*/

/* Media query for big screens */
@media (min-width: 781px) {
  body {
    margin: 0;
    background-color: lightyellow;
    font-family: 'Trebuchet MS';
  }

  .mainArea {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: green;
  }

  .mainMapNav {
    width: 80%;
    background-color: blue;
    overflow-y: auto; /* Enables vertical scrolling */
    height: 100vh; /* Ensures it spans the full viewport height */
    /* Hide scrollbar */
    scrollbar-width: none; /* For Firefox */
  }

  .mainMapNav::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }
  .mainMapNav div {
    height: 60px;
  }
  .mainNews {
    width: 20%;
    background-color: red;
    overflow-y: auto; /* Enables vertical scrolling */
    height: 100vh; /* Ensures it spans the full viewport height */
  }
  .mainNews div {
    height: 60px;
  }
}

/* Media query for small screens */
@media (max-width: 780px) {
  body {
    margin: 0;
    background-color: lightyellow;
    font-family: 'Trebuchet MS';
  } 

  .mainArea {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: green;
  }

  .mainMapNav {
    width: 100%;
    background-color: blue;
    height: 50%; /* Ensures it spans the full viewport height */
  }
  .mainNews {
    width: 100%;
    background-color: red;
    height: 50%;
    overflow-y: auto; /* Enables vertical scrolling */
  }
}